<div class="col-md-2"> </div>
<div class="col-md-8">
  <h1 class="header">Панель работы с бригадами</h1>
  <table class="table table-responsive">
    <tr><a class="btn btn-toolbar" ng-click="brigades.add(brigade)">Создать новую бригаду</a></tr>
    <tr>
      <td>Номер бригады</td>
      <td>Бригадир</td>
      <td>Действия</td>
    </tr>
    <tbody>
    <tr ng-repeat="brigade in brigades.brigades_list">
      <td>{{brigade.number}}</td>
      <td>{{brigade.taskmaster_name}}</td>
      <td>
        <a class="btn btn-default"><i class="glyphicon glyphicon-edit" ng-click="brigades.add(brigade)"></i> Редактировать</a>
        <a class="btn btn-default"><i class="glyphicon glyphicon-remove" ng-click="brigades.delete(brigade)"></i> Удалить</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>

