<div class="modal-header">
  <h1 class="modal-title text-center">Бригада № {{brigade_display.brigade.number}} </h1>
</div>
<div class="modal-body">
  <h2 class="text-center">Бригадир {{brigade_display.brigade.taskmaster_name}} </h2>
  <h3 class="text-center">Работники бригады:</h3>
  <h4 class="text-info" ng-repeat="worker in brigade_display.workers">
    {{worker.name}}
  </h4>
  <p></p>
</div>
<div class="modal-footer">
  <button class="btn btn-block btn-primary" type="button" ng-click="brigade_display.ok()">OK</button>
</div>
